div.main-content
{
    position: relative;
    width: 100%;
    height: var(--main-content-height);
    background: var(--main-content-background);
    overflow: hidden;
    overflow-y: auto;
}

div.navbar
{
    position: relative;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.navbar-element
{
    height: var(--navbar-elem-size);
    width: var(--navbar-elem-size);
    border: 1px solid var(--navbar-elem-color1);
    border-radius: 1000px;
    margin: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out all;
}

div.navbar-element.selected
{
    background-color: var(--navbar-elem-color1);
}

div.navbar-element i
{
    color: var(--navbar-elem-color1);
}

div.navbar-element.selected i
{
    color: var(--navbar-elem-color2);
}

div.schedule-timer
{
    position: relative;
    width: 100vw;
    height: 50vh;
}

svg.progress
{
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

svg.progress circle
{
    cx: 50%;
    cy: 50%;
    r: 35%;
    fill: none;
    stroke-width: 4px;
}

svg.progress circle.background
{
    opacity: 0.25;
    stroke: #EB9979;
}

svg.progress circle.fill
{
    stroke: #EB9979;
    stroke-dasharray: 220%; /* --- 2 * pi * r --- */
    stroke-dashoffset: 0%; /* --- dasharray * (100-percent)% --- */
    transition: stroke-dashoffset 0.2s ease-in-out;
}

div.timer-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%, -50%);
}

div.schedule-events
{
    width: fit-content;
    height: fit-content;
}

div.schedule-day-title
{
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-left: calc(var(--schedule-time-size) + 10px);
}

div.schedule-event
{
    line-height: 18px;
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
}

div.schedule-event div.time
{
    display: inline-block;
    vertical-align: top;
    width: var(--schedule-time-size);
    font-size: 18px;
    text-align: center;
    height: 100%;
    color: var(--schedule-time-color);
}

div.schedule-event div.info
{
    display: inline-block;
    max-width: calc(99% - var(--schedule-time-size));
}

div.schedule-event div.info div.title
{
    display: inline-block;
    color: white;
    font-size: 18px;
    width: 100%;
}

div.schedule-event div.info div.description
{
    margin-top: 8px;
    display: inline-block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

div.loading-screen
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--main-content-background);
    z-index: 5;
}

div.loading-screen img
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.content
{
    position: relative;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}

div.content.map
{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-150px, 0) scale(0.05);
}

div.content.mentors iframe
{
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
}

div.content.qr
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

div.invalid-code
{
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1.5px solid red;
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 500px;
}

div.content.qr div.qr-container
{
    width: 80%;
    text-align: center;
}

div.content.qr div.text
{
    font-size: 25px;
    font-weight: 500;
}

div.content.qr div.scan-button
{
    display: inline-block;
    font-size: 20px;
    padding: 14px;
    margin-top: 40px;
    width: 60%;
    background: linear-gradient(93.72deg, #C72995 -2.47%, #FBCA6C 138.18%);
    border-radius: 100px;
}

div.content.qr div.scan-button.upload
{
    margin-top: 10px;
}

div.content.qr div.scan-button.retry
{
    margin-top: 30px;
    margin-bottom: 20px;
}

div.content.qr div.qr-image-container
{
    position: relative;
    width: 80vw;
    height: 80vw;
    border: 2px solid white;
    margin-top: 20px;
    overflow: hidden;
}

div.content.qr img.qr
{
    width: 100%;
    height: 100%;
}


input
{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    text-transform: uppercase;
    border-radius: 500px;
    width: 80%;
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
    display: inline-block;
    overflow: hidden;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: border 0.2s linear;
}

::placeholder { /* Recent browsers */
    text-transform: none;
}

input:hover
{
    border: 2px solid rgba(255, 255, 255, 0.5);
}

input:focus
{
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
